<div class="well">
    <div class="panel-heading">
        <h7>Playlist: </h7>
        <a id="active-shuffle" href="#"><img title="Activar modo din치mico" src="{{asset('bundles/tabernicolajukecloud/img/shuffle.png')}}"/></a>
        <a id="disable-shuffle" href="#"><img title="Desactivar modo din치mico" src="{{asset('bundles/tabernicolajukecloud/img/no-shuffle.png')}}"/></a>
        <a id="active-repeat" href="#"><img title="Activar modo repetici칩n" src="{{asset('bundles/tabernicolajukecloud/img/repeat.png')}}"/></a>
        <a id="disable-repeat" href="#"><img title="Desactivar modo repetici칩n" src="{{asset('bundles/tabernicolajukecloud/img/no-repeat.png')}}"/></a>
    </div>
    <div id="playlist" class="panel-body droppable">
        <!--<div class="list-group ">
            <a href="#" class="list-group-item active">
              <h4 class="list-group-item-heading ">List group item heading</h4>
              <p class="list-group-item-text ">Contenido del elemento del </p>
            </a>
        </div>-->
    </div>
</div>   