El video con id {{id}} ya se encuentra en la colección
(<a  aria-hidden="true" data-dismiss="modal" href="#" onclick="thePlaylist.addElement('song-{{song.id}}', $(thePlaylist.selector))">{{song.title}}</a>)