Se ha añadido el vídeo correctamente a la colección.
Pulsa <a  aria-hidden="true" data-dismiss="modal" href="#" onclick="thePlaylist.addElement('song-{{song.id}}', $(thePlaylist.selector))"><strong>aquí</strong></a>
para añadirlo a la lista y cerrar la capa, o añade más vídeos.