<h4>Bienvenido a JukeCloud, tu reproductor de música en la nube</h4>
<div id="jc-info-content" >
    <div class="panel">
        <div id="jc-info-index" class="collapse">
            <h4>Indice<h4>
            <h5><a data-parent="#jc-info-content" data-toggle="collapse" href="#jc-info-init">Inicio rápido</a></h5>
            <h5><a data-parent="#jc-info-content" data-toggle="collapse" href="#jc-info-library">Libreria</a></h5>
            <h5><a data-parent="#jc-info-content" data-toggle="collapse" href="#jc-info-info">Panel central</a></h5>
            <h5><a data-parent="#jc-info-content" data-toggle="collapse" href="#jc-info-playlist">Lista de reproducción</a></h5>
            <h5><a data-parent="#jc-info-content" data-toggle="collapse" href="#jc-info-contact">Errores y sugerencias</a></h5>
        </div>
        <div id="jc-info-init" class="collapse in">
            <h5><u>Inicio rápido</u></h5>

            <p class="h6">
                A la izquierda tienes la librería con toda la música disponible. 
                Para reproducir cualquiera de los elementos, basta con arrastrarlos a la columna de la derecha(la lista de reproducción). 
                También puedes añadir canciones a la lista si haces doble click en alguna de las canciones
            </p>

            <p class="h6">
                Con la barra de la zona superior, podrás controlar la reproducción de la canción como en cualquier otro reproductor
            </p>

            <p class="h6">
                Al añadir canciones a la lista, estas comenzarán a reproducirse automáticamente. 
                Puedes arrastrar las canciones dentro de la propia lista para ordenarlas a tu antojo,
                hacer doble click para saltar automáticamente a esa canción,
                o seleccionarlas con un click, y pulsar la tecla "Supr" para eliminarlas de la lista
            </p>

            <p class="h6">
                Para más información, puedes ir al <a data-parent="#jc-info-content" data-toggle="collapse" href="#jc-info-index">indice de la ayuda</a>
            </p>
        </div>
        <div id="jc-info-library" class="collapse">
            <h5><u>Librería</u></h5>
            TODO
            <p class="h6">
                Volver al <a data-parent="#jc-info-content" data-toggle="collapse" href="#jc-info-index">indice de la ayuda</a>
            </p>
        </div>
        <div id="jc-info-info" class="collapse">
            <h5><u>Panel central</u></h5>
            TODO
            <p class="h6">
                Volver al <a data-parent="#jc-info-content" data-toggle="collapse" href="#jc-info-index">indice de la ayuda</a>
            </p>
        </div>
        <div id="jc-info-playlist" class="collapse">
            <h5><u>Lista de reproducción</u></h5>
            TODO
            <p class="h6">
                Volver al <a data-parent="#jc-info-content" data-toggle="collapse" href="#jc-info-index">indice de la ayuda</a>
            </p>
        </div>
        <div id="jc-info-contact" class="collapse">
            <h5><u>Errores y sugerencias</u></h5>
            TODO
            <p class="h6">
                Volver al <a data-parent="#jc-info-content" data-toggle="collapse" href="#jc-info-index">indice de la ayuda</a>
            </p>
        </div>
    </div>
</div>    