#center-panel,#duration-container, #mute-container, #unmute-container, #volume-bar-container{display:none}
#progress-bar .jp-progress{width: 80px}
.panel{width:100%;padding: 5px;margin:0px;border:0px;position: static }
/*.panel-heading{padding: 2px;}
#right-panel{height:110px;bottom: 0px;top: auto; }
.well{padding:0px}
#left-panel .panel-heading{display:none}
#left-panel .panel-body {height: 100%}
.list-group-item p {display: inline}
.list-group-item {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#playlist .active a {
    background-color: #beebff !important;
}*/
#main-panel {
    /* Margin bottom by footer height */
    padding-top: 70px;
    padding-bottom: 60px;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: auto;overflow-y: auto;
}
#library{overflow: visible;}
#library > div{overflow: auto;}
.panel-body{height: 100%;padding: 5px 10px 5px 5px}

.btn-half{display:block;width: 50%}
.btn-half.first{float:left}
#menu {background-color: #111111}
#menu li{width:33%}
#main-panel> div {padding: 5px; height: 100%; overflow: visible}
.well{ height: 100%; padding: 5px}
.browser-info span{font-size: 15px;padding: 5px; }
#info-panel{height: 60px; margin: 0px}
#info .well .panel-body{padding: 0px !important}
#accordion{height: 80%}
#browser-video{float:none;padding-left: 10%}
#browser-info-cover {width:auto; height: 60px}

#clear-playlist{position: absolute; right: 10px; color: black}
#clear-playlist:hover{text-decoration: none !important}
#clear-playlist .list-icon{font-size: 22px; padding-right: 8px; padding-top: 2px}
#clear-playlist .times-icon{font-size: 14px; padding-left:14px; padding-top: 9px}
#library, #playlist-container, #accordion{height:84%;}