::-webkit-scrollbar {
    width: 20px;
    position: left;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#center-panel,#duration-container, #mute-container, #unmute-container, #volume-bar-container, .album-cover{display:none}

.panel{width:50%;height:65%;padding: 5px;margin:0px;border:0px;}
#right-panel{right: 0px; }
